[submodule "modules/openzeppelin-contracts"]
	path = modules/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts.git
[submodule "modules/maple-test"]
	path = modules/maple-test
	url = https://github.com/maple-labs/maple-test.git
